/* This Theme is called "Wasp" and Obsidian Theme created by Santi Younger */

/* Last Update:
2020-10-22 13:35
     */

:root
{
--font-monospace: "Source Code Pro", monospace;
}

.theme-dark
{
--background-primary:         #242424;
--background-primary-alt:     #242424;
--background-secondary:       #1F1F1F;
--background-secondary-alt:   #3D3D3D;
--text-normal:                #faf2d6;
--text-faint:                 #bdae93;
--text-title-h1:              #E0E0E0;
--text-title-h2:              #E0E0E0;
--text-title-h3:              #E0E0E0;
--text-title-h4:              #E0E0E0;
--text-title-h5:              #E0E0E0;
--text-highlight-bg:          #640211;
--text-link:                  #83a598; 
--text-a-hover:               #83a598; 
--inline-code:                #83a598; 
--code-block:                 #83a598; 
--text-a:                     #f8c537; 
--interactive-accent:         #f8c537;
--text-accent:                #f8c537; 
--text-on-accent:             #fff;
--interactive-accent-rgb:     #f8c537; 
--vim-cursor:                 #f8c537; 
/*  --text-mark:                  add text-mark if needed, this should work together with 'mark' */
--pre-code:                   #;
--interactive-before:         #7c6f64;
--background-modifier-border: #f8c537;
--text-selection:             #640211;
}

.theme-dark .cm-s-obsidian span.obsidian-search-match-highlight {
color: var(--text-normal);
background-color: #483699;
}

.cm-header-1 {
font-size: 18px;
color: var(--text-title-h1) !important;
}

.cm-header-2 {
font-size: 18px;
color: var(--text-title-h2) !important;
}

.cm-header-3 {
font-size: 18px;
color: var(--text-title-h3) !important;
}

.cm-header-4 {
font-size: 18px;
color: var(--text-title-h4) !important;
}

.cm-header-5 {
font-size: 18px;
color: var(--text-title-h5) !important;
}

.cm-header-6 {
font-size: 18px;
color: --text-normal;
color: var(--text-title-h6) !important;
}

.markdown-preview-view h1 {
font-size: 20px;
line-height: 24px;
color: var(--text-title-h1) !important;
}

.markdown-preview-view h2 {
font-size: 20px;
line-height: 24px;
color: var(--text-title-h2) !important;
}

.markdown-preview-view h3 {
font-size: 20px;
line-height: 24px;
color: var(--text-title-h3) !important;
}

.markdown-preview-view h4 {
font-size: 20px;
line-height: 24px;
color: var(--text-title-h4) !important;
}

.markdown-preview-view h5 {
font-size: 20px;
line-height: 24px;
color: var(--text-title-h5) !important;
}

.markdown-preview-view h6 {
font-size: 20px;
line-height: 24px;
color: --text-normal;
color: var(--text-title-h6) !important;
}

/*-----------------------------------------*/
/* End of main theme, extra functionality can be added below */

.markdown-source-view { font-family: var(--font-monospace)
                   }
